<!DOCTYPE html>
<html>
<head>
  <title>TrekMates</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
  <%= javascript_include_tag 'application' %>
  <%= yield %>
</body>
</html>

<!-- moved javascript_include_tag to body, fixed issue with react-big-calendar -->
